.projects_container {
  padding-bottom: 100px;
  padding-top: 100px;
  background-color: #fafafa;
  width: 100vw;
}

.projects_heading {
  font-size: 9vh;
  font-family: Roboto;
}

@media (max-width: 1224px) {
}
