.home_container {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 120px;
  background-color: #fafafa;
  width: 100vw;
}

.home_content {
  margin-left: 2vw;
}

.home_heading {
  font-size: 7vh;
  font-family: Roboto;
  padding-top: 100px;
}

.home_subheading {
  font-family: Roboto;
  font-size: 4vh;
}

.home_user-avatar {
  width: 700px;
  aspect-ratio: 1;
  padding-left: 5vw;
  padding-bottom: 20px;
}
.contact_icon-btn {
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}
@media (max-width: 1224px) {
  .home_container {
    flex-direction: column;
    place-items: center;
    padding-bottom: 50px;
  }
  .home_heading {
    padding-left: 20px;
    padding-top: 0px;
  }
  .home_subheading {
    padding-left: 20px;
  }
  .home_user-avatar {
    padding-left: 100px;
    padding-bottom: 0px;
  }
}
