.home_container {
  display: flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 120px;
  background-color: #fafafa;
  width: 100%;
}

.home_heading {
  font-size: 60px;
  font-family: Roboto;
  padding-top: 100px;
}

.home_subheading {
  font-family: Roboto;
  font-size: 35px;
}

.home_user-avatar {
  width: 700px;
  height: 700px;
  padding-left: 200px;
  padding-bottom: 20px;
}
@media (max-width: 1224px) {
  .home_container {
    width: 105vh;
    flex-direction: column;
    place-items: center;
    padding-bottom: 50px;
  }
  .home_heading {
    padding-left: 20px;
    padding-top: 0px;
  }
  .home_subheading {
    padding-left: 20px;
  }
  .home_user-avatar {
    padding-left: 100px;
    padding-bottom: 0px;
  }
}
